*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkslategrey;
}

h2{
    margin-bottom: 20px;
    padding: 5px;
    text-shadow: 0 0 10px rgb(11, 134, 11);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 0.5px solid lightgreen;

}